build/
bin/
lib/
*__pycache__*
*.swp
*.swo
*.DS_Store
*Makefile
*CMakeFiles/
*cmake_install.cmake
CMakeCache.txt
doc
.idea/
apps/tensor_times_vector/tensor_times_vector

hb-benchmarks/*/Makefile
hb-benchmarks/*/loop_handler.*
hb-benchmarks/*/rf_test.cpp
hb-benchmarks/*/utility.hpp
hb-benchmarks/*/inputs
hb-benchmarks/inputs
